#map {
    /* the width and height may be set to any size */
    width: 100%;
    flex-grow: 1;
}

header.container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.78);
}

main.container, main.container > .row {
    padding: 0;
    flex-grow: 1;
}

aside.column {
    width: 300px;
    flex: none;
    background-color: black;
}

.page-wrapper {
    background-color: lightgray;
}

