* {
    font-family: "American Typewriter", sans-serif;
}
html {
    background-image: url("../img/background-image.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.fancy-header {
    color: dodgerblue;
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

ul {
    list-style: square;
}
ol {
    list-style: upper-roman;
}

table, td, th, tr {
    font-size: large;
    padding: 5px;
    border: 3px black solid;
    border-collapse: collapse;
    text-align: center;

}

th {
    font-size: xx-large;
}

a:hover {
    color: greenyellow;
}
a:link {
    color: darkblue;
}
a:visited {
    color: dodgerblue;
}
a:active {
    color: black;
}

